<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">effect</h6>
        <h1 class="fw-bold">「ダチョウ蒸しパン」について</h1>
        <p style="color: gray;">
          「ダチョウ蒸しパン」について紹介します。
        </p>
      </div>
    </div>
    <div class="row function p-3 mt-3">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_12.png" alt="" width="95%" height="400px">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">「ふんわりと広がる不快な蒸しパン」</h3>
        <p class="mt-3">ふんわりと広がる不快な蒸しパンは、まるで災厄の到来のような存在です。その見た目は無害そうにも見えますが、その一口を食べれば、不快な感覚が広がります。まず、その触感は柔らかくてもっちりとしたものですが、不思議なほど湿気を帯びており、まるで湿った雨のような感触が口の中に広がります。口に入れた瞬間、舌にべたつく感触が残り、まるで不快な湿った風味が口いっぱいに広がるかのようです。さらに、その独特な香りも忘れてはなりません。不快な蒸しパンは、微妙な酸味と混ざり合った独特の匂いが漂います。まるで腐敗したものを思わせるような不快な香りが、食欲をそいでしまうでしょう。そして、味わいもまた独特で、何とも言えない不快感があります。不思議なほど甘さが控えめで、代わりに奇妙な酸味が口の中に広がります。まるで酸っぱいものを食べているかのような不快な味わいが、食欲を奪ってしまいます。全体として、ふんわりと広がる不快な蒸しパンは、その見た目とは裏腹に、不快な触感、奇妙な香り、そして不快な味わいが絶妙に組み合わさった恐ろしい存在です。食べる勇気を持つ者にのみ、その不快な体験を味わってもらいたいと言えるでしょう。</p>
      </div>
    </div>
  </div>
</div>
</section>
<section id="review">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">review</h6>
        <h1 class="fw-bold">ユーザの声</h1>
        <p>
          「ダチョウ蒸しパン」を着用していただいているユーザの声を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">publicrelations</h6>
        <h1 class="fw-bold">PR動画</h1>
        <p>
          「ダチョウ蒸しパン」のPR動画を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-10 mx-auto">
        <iframe width="100%" height="640px" src="https://www.youtube.com/embed/21pwCoVVaaw" title="ダチョウシステムズ社員を ご紹介します" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section id="uses" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">use</h6>
        <h1 class="fw-bold">「ダチョウ蒸しパン」ぜひお求めください</h1>
        <p style="color: gray;">
            恭輪でお待ちしています。
        </p>
      </div>
    </div>
    <div class="row col-lg-6 mx-auto">
      <p>
        <a href="#" class="btn btn-primary col-lg-12 col-12">
          お問い合わせはこちら<i class="bi bi-box-arrow-up-right mx-1"></i>
        </a>
      </p>
    </div>
  </div>
</section>
