<div id="catch_copy" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="display-3 text-white fw-bold">My Closet</h1>
        <p class="text-white my-3 fs-4">
          あなたのファッションの価値を最大限に引き出すファションアプリ「My Closet」
        </p>
      </div>
    </div>
  </div>
</div>
<section id="introduction">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">introduction</h6>
        <h1 class="fw-bold">ファッションのことでお悩みではありませんか？</h1>
        <p>
          「My Closet」でお悩みを解決いたします。
        </p>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 pt-2 mb-4 fw-bold text-center">洋服の管理が上手くできない</h5>
          <div class="text-center mb-5">
            <img src="/assets/service/img_5.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 pt-2 mb-4 fw-bold text-center">おしゃれなコーディネートを参考にしたい</h5>
          <div class="text-center mb-5">
            <img src="/assets/service/img_10.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 pt-2 mb-4 fw-bold text-center">洋服の着こなし方が分からない</h5>
          <div class="text-center mb-5">
            <img src="/assets/service/img_11.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 pt-2 mb-4 fw-bold text-center">自分に似合うコーディネートを見つけられない</h5>
          <div class="text-center mb-5">
            <img src="/assets/service/img_13.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">effect</h6>
        <h1 class="fw-bold">「My Closet」にできること</h1>
        <p style="color: gray;">
          「My Closet」でご利用いただける機能について紹介します。
        </p>
      </div>
    </div>
    <div class="row function p-3 mt-4">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_6.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">1、AIコーデ提案機能</h3>
        <p class="mt-4">この機能は、ChatGPTを活用しています。また、ユーザーの身長や体重などの情報を取得し、SNSの投稿も活用しています。この機能は、あなたのスタイルや体型に合わせた最適なコーディネートを提案します。まず、あなたの身長や体重などの情報を入力していただきます。これにより、よりパーソナライズされた提案を行うことができます。さらに、SNSの投稿を利用することで、最新のファッショントレンドや人気のスタイルを把握し、それを基にした提案を行います。SNS上で注目されているコーディネートや着こなしのアイデアを活かし、あなたにぴったりのコーディネートを提案します。私たちの提案は、季節や場所に合わせた洋服の組み合わせやアクセサリーの選び方、さらにはヘアスタイルやメイクアップのアドバイスまで幅広くカバーしています。あなたの個性や好みに合わせて、おしゃれなコーディネートを楽しむ手助けをいたします。</p>
      </div>
    </div>
    <div class="row function p-3 mt-4">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_7.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">2、ファッションSNS機能</h3>
        <p class="mt-4">ファッションSNS機能は、あなたがファッションに関する情報やアイデアを共有し、他のユーザーと交流するためのプラットフォームです。この機能を通じて、ファッションに情熱を持つ人々と繋がり、インスピレーションを得ることができます。まず、あなたのプロフィールを作成し、自己紹介やファッションに関する興味やスタイルを共有しましょう。その後、写真や投稿を通じて、自分のお気に入りのコーディネートやアイテムをシェアすることができます。他のユーザーは、あなたの投稿に対してコメントやいいねをすることができます。また、ファッションSNS機能では、他のユーザーの投稿を閲覧することもできます。さまざまなスタイルやトレンドをチェックし、他のユーザーのアイデアや着こなしを参考にすることができます。さらに、気に入った投稿をブックマークすることも可能です。</p>
      </div>
    </div>
    <div class="row function p-3 mt-4">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_8.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">3、クローゼット管理機能</h3>
        <p class="mt-4">新しいクローゼット機能をご紹介いたします。この機能は、あなたの洋服やアクセサリーの管理をサポートするために開発されました。クローゼット機能では、まず最初にあなたの洋服やアクセサリーのアイテムを登録します。写真を撮るか、アイテムの詳細を手入力することで、簡単に登録することができます。アイテムごとにカテゴリーや色、サイズなどの情報も入力できます。登録が完了すると、あなたのクローゼットがデジタル上に表示されます。これにより、どのアイテムを所有しているか一目で把握することができます。また、特定のアイテムを探す際にも便利です。さらに、クローゼット機能では、アイテムの組み合わせやコーディネートの提案も行います。私たちのChatGPTが、登録されたアイテムを分析し、あなたに合ったおしゃれなコーディネートを提案します。これにより、既存のアイテムを上手に活用し、新しいスタイルを試すことができます。</p>
      </div>
    </div>
    <div class="row function p-3 mt-4">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_9.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">4、着こなしQ&A機能</h3>
        <p class="mt-4">新しい着こなしQ&A機能をご紹介いたします。この機能は、あなたがファッションに関する質問を投稿し、専門家や他のユーザーから回答やアドバイスを受けるためのプラットフォームです。ファッションQ&A機能では、あなたの質問を詳細に入力して投稿するだけで、幅広い知識と経験を持つ人々からの貴重な情報を得ることができます。例えば、特定のイベントにふさわしい服装や、トレンドに合ったスタイリングのアイデア、シーズンに応じたファッションのコツなど、さまざまなテーマに関する質問をすることができます。投稿された質問に対しては、専門家やファッション愛好家からの回答が届きます。それぞれの回答は、その人の経験や専門知識に基づいて提供されます。さらに、他のユーザーからのコメントや意見も受け付けることができますので、さまざまな視点やアイデアを得ることができます。</p>
      </div>
    </div>
  </div>
</div>
</section>
<section id="review">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">review</h6>
        <h1 class="fw-bold">ユーザの声</h1>
        <p>
          「My Closet」を利用していただいているユーザの声を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/review.jpg" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>19歳 Aさん 女性</h4>
        <br>
        <p class="mt-2">「myclose」は男性向けのファッションアプリ。洗練されたUIと豊富なコンテンツで自分に合ったスタイルを見つけやすく、ショッピング体験も充実。コーディネートのアイデアやトレンド情報も提供され、ファッション初心者にもおすすめ。パフォーマンスも安定し、スムーズな操作が可能。自分のスタイルをアップデートしたい男性に最適。</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/review.jpg" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>19歳 Hさん 男性</h4>
        <br>
        <p class="mt-2">女性向けファッションアプリ「myclose」は美しいUIと多彩なコンテンツで、自分らしいスタイルを見つけやすく、ショッピング体験も楽しい。トレンド情報やスタイリングアイデアも提供され、使いやすさも抜群。おしゃれを楽しみたい女性におすすめ。</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/review.jpg" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>19歳 Yさん 女性</h4>
        <br>
        <p class="mt-2">「myclose」のクローゼット管理機能は素晴らしい。洋服やアクセサリーを簡単に登録し、コーディネートの提案や着用履歴の管理ができる。クローゼット整理に最適。</p>
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">publicrelations</h6>
        <h1 class="fw-bold">PR動画</h1>
        <p>
          「My Closet」のPR動画を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-10 mx-auto">
        <iframe width="100%" height="640px" src="https://www.youtube.com/embed/V8WfkSTEO_s" title="ファッションアプリ「My Closet」CM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section id="uses" class="my_closet vh-100 d-flex align-items-center">
</section>
