<div id="catch_copy" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="display-3 text-white fw-bold">MY CLOSET</h1>
        <p class="text-white my-3 fs-4">
          あなたのファッションの価値を最大限に引き出すファションアプリ「MY CLOSET」
        </p>
      </div>
    </div>
  </div>
</div>
<section id="introduction">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h5 class="text-primary mb-2">introduction</h5>
        <h1 class="fw-bold">ファッションのことでお悩みではありませんか？</h1>
        <p>
          「MY CLOSET」でお悩みを解決いたします。
        </p>
      </div>
    </div>
    <div class="row g-2">
      <div class="text-center">
        <h6 class="text-primary mb-2">questionnaire</h6>
        <h2>神戸電子専門学校でアンケート調査</h2>
        <p>
          神戸電子専門学校の282名の学生にアンケートに協力して頂きました。
        </p>
      </div>
      <div class="col-lg-8 mx-auto mb-5">
        <img src="/assets/service/evidence1.png" alt="" class="img-fluid">
      </div>
      <div class="text-center">
        <h6 class="text-primary mb-2">questionnaire</h6>
        <h2>具体的な悩みを調査</h2>
        <p>
          学生がどのようなシチュエーションで悩んだのかというアンケート調査も実施しました。
        </p>
      </div>
      <div class="col-lg-8 mx-auto">
        <img src="/assets/service/evidence1.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h5 class="text-primary mb-2">effect</h5>
        <h1 class="fw-bold">「MY CLOSET」で解決！</h1>
        <p style="color: gray;">
          「My Closet」でご利用いただける機能について紹介します。
        </p>
      </div>
    </div>
    <div class="text-center">
      <h6 class="text-primary mb-2">AI-suggestion</h6>
      <h2>AIコーデ提案機能</h2>
      <p>
        AIがあなたのコーディネートをサポートします。
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto col-md-12 col-12 mt-3">
        <iframe width="100%" height="543" src="https://www.youtube.com/embed/5IlTEEgf_iQ" title="【伊東 純也（スタッド・ランス） ゴール・アシスト集】リーグアンに吹き荒れた”イナズマ旋風”！躍動の1年をプレイバック！｜リーグアン 2022-23" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-center mt-5">
      <h6 class="text-primary mb-2">sns</h6>
      <h2>ファッションSNS機能</h2>
      <p>
        あなたのコーディネート、世界に共有しよう！
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto col-md-12 col-12 mt-3">
        <iframe width="100%" height="543" src="https://www.youtube.com/embed/5IlTEEgf_iQ" title="【伊東 純也（スタッド・ランス） ゴール・アシスト集】リーグアンに吹き荒れた”イナズマ旋風”！躍動の1年をプレイバック！｜リーグアン 2022-23" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-center mt-5">
      <h6 class="text-primary mb-2">closet</h6>
      <h2>クローゼット管理機能</h2>
      <p>
        あなたの洋服、「MY CLOSET」で管理しませんか？
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto col-md-12 col-12 mt-3">
        <iframe width="100%" height="543" src="https://www.youtube.com/embed/5IlTEEgf_iQ" title="【伊東 純也（スタッド・ランス） ゴール・アシスト集】リーグアンに吹き荒れた”イナズマ旋風”！躍動の1年をプレイバック！｜リーグアン 2022-23" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-center mt-5">
      <h6 class="text-primary mb-2">sns</h6>
      <h2>コーディネートQ&A機能</h2>
      <p>
        洋服の選び方に悩んだら、質問してみよう！
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto col-md-12 col-12 mt-3">
        <iframe width="100%" height="543" src="https://www.youtube.com/embed/5IlTEEgf_iQ" title="【伊東 純也（スタッド・ランス） ゴール・アシスト集】リーグアンに吹き荒れた”イナズマ旋風”！躍動の1年をプレイバック！｜リーグアン 2022-23" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</section>
<section id="review">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">review</h6>
        <h1 class="fw-bold">利用者の声</h1>
        <p>
          「MY CLOSET」を利用していただいているユーザの声を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/avatar.png" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>19歳 Hさん 男性</h4>
        <br>
        <p class="mt-2">「myclose」は洗練されたUIと豊富なコンテンツで自分に合ったスタイルを見つけやすくてとても便利だと思います。コーディネートのアイデアやトレンド情報も手に入れやすいので、ファッションに興味を持ち始めた方にもおすすめです。</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/avatar.png" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>19歳 Sさん 女性</h4>
        <br>
        <p class="mt-2">「myclose」のAI提案機能がとても便利です。AIが自身の特徴や好みから自身に似合う色や洋服を提案してくれます。おしゃれを楽しみたい女性におすすめです。</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="/assets/service/avatar.png" alt="" class="rounded-circle m-1" width="50" height="50">
        <h4>18歳 Mさん 女性</h4>
        <br>
        <p class="mt-2">「myclose」のクローゼット管理機能がとても便利です。洋服やアクセサリーを簡単に登録し、コーディネートのアイデアも入手できることがとても便利です。クローゼット整理に最適です。</p>
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h5 class="text-primary mb-2">links</h5>
        <h1 class="fw-bold">各種リンク</h1>
        <p>
          「My Closet」のドキュメントやソースコードを紹介します。
        </p>
      </div>
    </div>
    <div class="text-center">
      <h6 class="text-primary mb-2">apps</h6>
      <h2>「MY CLOSET」アプリ</h2>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-4 mb-5">
      <a href="#" class="btn btn-primary px-4 py-2 fw-bold col-12">
        <i class="bi bi-box-arrow-up-right mx-1"></i>「MY CLOSET」
      </a>
    </div>
    <div class="text-center">
      <h6 class="text-primary mb-2">documents</h6>
      <h2>「MY CLOSET」ドキュメント</h2>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-4">
      <a href="https://drive.google.com/drive/folders/1lFMLyYMm9_CibqHFnVfNkGm2tza2sIJ5" class="btn btn-primary px-4 py-2 fw-bold col-12" target="_blank">
        <i class="bi bi-box-arrow-up-right mx-1"></i>企画書
      </a>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-2">
      <a href="https://drive.google.com/drive/folders/1eHtgHx81NNSllSV_Zw4BmCP8lmBUZZ7f" class="btn btn-primary px-4 py-2 fw-bold col-12" target="_blank">
        <i class="bi bi-box-arrow-up-right mx-1"></i>要件定義書
      </a>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-2">
      <a href="https://drive.google.com/drive/folders/1sXxRJCKHu9ZKTcSRYNvJITtDsIrKztMP" class="btn btn-primary px-4 py-2 fw-bold col-12" target="_blank">
        <i class="bi bi-box-arrow-up-right mx-1"></i>基本設計書
      </a>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-2 mb-5">
      <a href="https://drive.google.com/drive/folders/1h0wW5oNaxVFzsRL_bznqEGi4WthjtUPY" class="btn btn-primary px-4 py-2 fw-bold col-12" target="_blank">
        <i class="bi bi-box-arrow-up-right mx-1"></i>機能設計書
      </a>
    </div>
    <div class="text-center">
      <h6 class="text-primary mb-2">codes</h6>
      <h2>「MY CLOSET」ソースコード</h2>
    </div>
    <div class="text-center col-lg-3 mx-auto pt-4 mb-5">
      <a href="https://github.com/Hayate12345/My_Closet" class="btn btn-primary px-4 py-2 fw-bold col-12" target="_blank">
        <i class="bi bi-box-arrow-up-right mx-1"></i>ソースコード
      </a>
    </div>
  </div>
</section>
<div id="catch_copy2" class="vh-100 d-flex align-items-center">
</div>
