<div id="catch_copy" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="display-3 text-white fw-bold">My Closet</h1>
        <p class="text-white my-3 fs-4">
          クローゼットの秘密を解き放て、最高のコーディネートを提案する洋服管理アプリ「My Closet」
        </p>
      </div>
    </div>
  </div>
</div>
<section id="introduction">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">introduction</h6>
        <h1 class="fw-bold">このようなお悩みはありませんか？</h1>
        <p>
          「My Closet」はこのようなお悩みを解決いたします。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 mb-3 fw-bold">似合うコーディネートが分からない</h5>
          <div class="text-center">
            <img src="/assets/service/img_5.png" alt="" class="img-fluid">
          </div>
          <p class="mt-3">
           服の選び方がわからず、似合わない服を買ってしまったり、自分に似合う服が何かわからない。
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 mb-3 fw-bold">持っている服が増え、管理が難しい</h5>
          <div class="text-center">
            <img src="/assets/service/img_11.png" alt="" class="img-fluid">
          </div>
          <p class="mt-3">
            無計画に買ってしまうことで似たような服が増え、クローゼットが服であふれかえってしまう。
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service card-effect mt-1">
          <h5 class="mt-4 mb-3 fw-bold">服に興味がある人が周りにいない</h5>
          <div class="text-center">
            <img src="/assets/service/img_10.png" alt="" class="img-fluid">
          </div>
          <p class="mt-3">
            ファッションの話をしたいが、周りで服に興味がある人がいない。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="effect">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">effect</h6>
        <h1 class="fw-bold">「My Closet」にできること</h1>
        <p style="color: gray;">
          「My Closet」でご利用いただける機能について紹介します。
        </p>
      </div>
    </div>
    <div class="row function p-3 mt-3">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_6.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">1、ファッションSNS機能</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt fuga illum exercitationem, ex consequatur ad in facilis eveniet, fugiat repellat recusandae commodi molestias a nam rerum illo quasi beatae.</p>
      </div>
    </div>
    <div class="row function p-3 mt-3">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_7.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">1、ファッションSNS機能</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt fuga illum exercitationem, ex consequatur ad in facilis eveniet, fugiat repellat recusandae commodi molestias a nam rerum illo quasi beatae.</p>
      </div>
    </div>
    <div class="row function p-3 mt-3">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_8.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">1、ファッションSNS機能</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt fuga illum exercitationem, ex consequatur ad in facilis eveniet, fugiat repellat recusandae commodi molestias a nam rerum illo quasi beatae.</p>
      </div>
    </div>
    <div class="row function p-3 mt-3">
      <div class="col-lg-5 col-md-12 col-12 mt-3">
        <img src="/assets/service/img_9.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-12 col-12 mt-3">
        <h3 class="fw-bold">1、ファッションSNS機能</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt fuga illum exercitationem, ex consequatur ad in facilis eveniet, fugiat repellat recusandae commodi molestias a nam rerum illo quasi beatae.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section id="review">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">review</h6>
        <h1 class="fw-bold">ユーザの声</h1>
        <p>
          「My Closet」を利用していただいているユーザの声を紹介します。
        </p>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
      <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="60" height="60">
        <h4>Jhon Doe</h4>
        <span>- 20 October, 2018</span>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
      </div>
    </div>
    
    
  </div>
</section>
<section id="uses" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">use</h6>
        <h1 class="fw-bold">「My Closet」ぜひご利用ください</h1>
        <p style="color: gray;">
          「My Closet」でお待ちしています。
        </p>
      </div>
    </div>
    <div class="row col-lg-6 mx-auto">
      <p>
        <a href="#" class="btn btn-success col-lg-12 col-12">
          「My Closet」公式サイトへ<i class="bi bi-box-arrow-up-right mx-1"></i>
        </a>
      </p>
      <p>
        <a href="#" class="btn btn-success col-lg-12 col-12">
          よくあるご質問はこちら<i class="bi bi-box-arrow-up-right mx-1"></i>
        </a>
      </p>
      <p>
        <a href="#" class="btn btn-primary col-lg-12 col-12">
          お問い合わせはこちら<i class="bi bi-box-arrow-up-right mx-1"></i>
        </a>
      </p>
      <p>
        <a href="https://youtu.be/OkiOPGe-ppQ" class="btn btn-danger col-lg-12 col-12">
          PR動画はこちら<i class="bi bi-box-arrow-up-right mx-1"></i>
        </a>
      </p>
    </div>
  </div>
</section>
