<div id="recruit" class="container my-5 py-5">
  <div class="recruit-content col-lg-10 mx-auto row bg-light">
    <div class="recruit-menu">
      <h4 class="text-light bg-primary p-3">
        <i class="bi bi-caret-right"></i>募集コース
      </h4>
      <div class="d-flex mt-3">
        <div class="col-lg-3 col-md-3 col-3 p-3 fw-bold table-menu">
          募集要項
        </div>
        <div class="col-lg-9 col-md-9 col-9 p-3">
          <label class="fw-bold">必要なスキルと経験</label><br>
          プログラミング言語（PHP、Ruby）を使用した開発経験<br>
          オブジェクト指向プログラミングの理解<br>
          データベースの設計と操作経験<br>
          チームでの協力とコミュニケーション能力<br>
          <label class="fw-bold mt-2">以下のスキルや経験があると好ましいですが、必須ではありません</label><br>
          Web開発フレームワーク（Django、Ruby on Rails、Laravel）<br>
          モバイルアプリ開発（iOS、Android）<br>
          クラウドプラットフォーム（AWS、Azure）の使用経験<br>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-md-3 col-3 p-3 fw-bold table-menu">
          採用形態
        </div>
        <div class="col-lg-9 col-md-9 col-9 p-3 mt-1">
          <h5><span class="badge bg-primary">正社員</span></h5>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          配属職種
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          <label class="fw-bold">プログラマー</label><br>
          ソフトウェアの設計、開発、テスト、デバッグ<br>
          コードの保守、改善、最適化<br>
          技術的な問題の特定と解決<br>
          プロジェクトの要件やスケジュールに基づいたプログラムの作成
        </div>
      </div>
    </div>
    <div class="recruit-menu mt-5">
      <h4 class="text-light bg-primary p-3">
        <i class="bi bi-caret-right"></i>募集要項・採用フロー
      </h4>
      <div class="d-flex mt-3">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          エントリー方法・採用フロー
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          <div class="table-menu p-3">
            <div class="bg-light p-2 text-center">
              ホームページよりエントリー
            </div>
            <div class="text-center">
              <i class="bi bi-caret-down-fill"></i>
            </div>
            <div class="bg-light p-2 text-center">
              会社説明会（対面・WEBにて実施）
            </div>
            <div class="text-center">
              <i class="bi bi-caret-down-fill"></i>
            </div>
            <div class="bg-light text-danger fw-bold p-2 text-center">
              ダチョウ面接（個別で10回実施予定）
            </div>
            <div class="text-center">
              <i class="bi bi-caret-down-fill"></i>
            </div>
            <div class="bg-light p-2 text-center">
              人事面接（個別で1回実施予定）
            </div>
            <div class="text-center">
              <i class="bi bi-caret-down-fill"></i>
            </div>
            <div class="bg-light fw-bold p-2 text-center">
              内々定
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          内々定までの所要期間
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          2ヶ月以内<br>
          最短で説明から1ヶ月程度
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          選考方法
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          1、ダチョウ面接<br>
          2、人事面接
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          選考の特徴
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          <h5><span class="badge bg-primary mt-1">ダチョウ面接</span></h5>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          提出書類
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          履歴書（人事面接までに提出）
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          募集人数
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          1~2人
        </div>
      </div>
    </div>
    <div class="recruit-menu mt-5">
      <h4 class="text-light bg-primary p-3">
        <i class="bi bi-caret-right"></i>問い合わせ先
      </h4>
      <div class="d-flex mt-3">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          問い合わせ先
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          ダチョウシステムズ<br><br>
          〒650-0002<br>
          兵庫県神戸市中央区北野町１丁目１−８<br>
          TEL 078-242-0014<br>
          ダチョウシステムズ採用担当宛
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          URL
        </div>
        <div class="col-lg-9 col-9 col-md-9 p-3">
          <a href="#">ダチョウシステムズ</a>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-3 col-3 col-md-3 p-3 fw-bold table-menu">
          交通機関
        </div>
        <div class="col-lg-9 col-9 col-md-8 p-3">
          「JR三宮駅」から徒歩10分<br>
          「阪急三宮駅」から徒歩10分<br>
          「阪神三宮駅」から徒歩10分
        </div>
      </div>
    </div>
  </div>
</div>
