<div id="recruit" class="container my-5 py-5">
  <div class="member_content col-lg-10 mx-auto row bg-light">
    <div>
      <h3 class="text-light bg-primary p-3">
        <i class="bi bi-caret-right"></i>募集コース
      </h3>
      <div class="d-flex">
        <div class="col-lg-4 bg-dark p-5">
        </div>
        <div class="col-lg-8 bg-primary p-5">
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h3 class="text-light bg-primary p-3">
        <i class="bi bi-caret-right"></i>募集要項・採用フロー
      </h3>
      <div class="d-flex">
        <div class="col-lg-4 bg-dark p-5">
        </div>
        <div class="col-lg-8 bg-primary p-5">
        </div>
      </div>
    </div>
  </div>
</div>
