<div class="container my-5 py-5">
  <div class="col-lg-10 mx-auto row bg-light p-5">
    <div class="col-lg-6 p-5">
      <h1 class="fw-bold">重山 大輝</h1>
      <h5 class="fw-bold">経理</h5>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque reiciendis, nisi molestias aut minus facilis. Laborum, tempora qui iusto vitae, culpa, alias officiis commodi sapiente sequi veritatis odit molestias enim.</p>
      <p>
        <label class="fw-bold">入社</label>　　2023年 4月<br>
        <label class="fw-bold">前職</label>　　ダチョウの飼育員<br>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/assets/team1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail">
    </div>
    <div class="mt-5 px-5">
      <p class="fw-bold text-primary">これまでのキャリアを教えてください</p>
      <h2 class="fw-bold">ダチョウの飼育員→システム開発→プロジェクトマネージャーへキャリアチェンジ</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore eaque aut nulla tempora commodi iste aliquid perferendis nesciunt error quae doloribus laborum laudantium autem sapiente, pariatur quos, dolorem molestiae adipisci!</p>
    </div>
    <div class="mt-5 px-5">
      <p class="fw-bold text-primary">入社を決めたきっかけは？</p>
      <h2 class="fw-bold">ダチョウのことを愛しているダチョウシステムズに一目惚れしました！</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore eaque aut nulla tempora commodi iste aliquid perferendis nesciunt error quae doloribus laborum laudantium autem sapiente, pariatur quos, dolorem molestiae adipisci!</p>
    </div>
    <div class="mt-5 px-5">
      <p class="fw-bold text-primary">入社後のキャリアを教えてください</p>
      <h2 class="fw-bold">システム開発からプロジェクトマネージャへ</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore eaque aut nulla tempora commodi iste aliquid perferendis nesciunt error quae doloribus laborum laudantium autem sapiente, pariatur quos, dolorem molestiae adipisci!</p>
    </div>
    <div class="mt-5 px-5">
      <p class="fw-bold text-primary">応募を考えている人にメッセージをどうぞ！</p>
      <h2 class="fw-bold">ダチョウが好きな人大歓迎です！</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore eaque aut nulla tempora commodi iste aliquid perferendis nesciunt error quae doloribus laborum laudantium autem sapiente, pariatur quos, dolorem molestiae adipisci!</p>
      <p><img src="/assets/team4.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></p>
    </div>
    <div class="mt-5 pt-5 px-5">
      <h4 class="text-center fw-bold mb-5">その他のメンバーについて知りたい方はこちら</h4>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href=""><img src="/assets/team5.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4">竹中 翔貴</h5>
            <p>社長</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takeda"><img src="/assets/team4.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4">竹田 颯</h5>
            <p>マネージャー</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <img src="/assets/team3.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail">
            <h5 class="mb-0 mt-4">矢田 桂都</h5>
            <p>人事</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <img src="/assets/team2.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail">
            <h5 class="mb-0 mt-4">山本 恭輪</h5>
            <p>システム開発</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
