<section id="faq">
  <div class="container col-lg-8 mx-auto">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">faq</h6>
        <h1 class="fw-bold">よくあるご質問</h1>
        <p>
          My Closetはこのようなお悩みを解決いたします。
        </p>
      </div>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        アコーディオン・アイテム #1
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <strong>これが最初のアイテムのアコーディオン本体。</strong>...
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptas molestiae quam maxime quisquam rem! Inventore nostrum, aperiam, praesentium suscipit animi voluptates ad officiis modi obcaecati dolore, molestias libero repudiandae!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        アコーディオン・アイテム #2
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"">
      <div class="accordion-body">
        <strong>これは2番目のアイテムのアコーディオン本体。</strong>...
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem iste minus nulla voluptas voluptatum in mollitia praesentium optio maxime suscipit non natus, repellat ad aliquid magni consequatur quo voluptatibus architecto.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        アコーディオン・アイテム #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong>これは3番目のアイテムのアコーディオン本体。</strong>...
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quos dolorum qui tempora? Voluptas dicta, ex sequi aliquid beatae accusantium. Excepturi perferendis vitae minus consequuntur dicta adipisci distinctio sed dolor.
      </div>
    </div>
  </div>
</section>