<div id="member_page" class="container my-5 py-5">
  <div class="member_content col-lg-10 mx-auto row bg-light">
    <div class="col-lg-6">
      <h1 class="fw-bold">竹中 翔貴</h1>
      <h4 class="fw-bold">社長</h4>
      <p class="mt-3">私は情熱的なテクノロジー愛好家であり、常に最先端のイノベーションに情熱を注いできました。私のビジョンは、技術の力を活用して世界をより良い場所に変えることです。私たちの会社では、革新的なソリューションを提供し、ビジネスの課題を解決するための新しい方法を模索しています。</p>
      <p>
        <label class="fw-bold">入社</label>　　2023年 4月<br>
        <label class="fw-bold">前職</label>　　パン屋さん<br>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/assets/takenaka/img_1" alt="ダチョウTシャツ" class="img-fluid">
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">これまでのキャリアを教えてください</p>
      <h2 class="fw-bold">パン屋さん→IT社長へキャリアチェンジ</h2>
      <p>創造的な仕事: パン作りは芸術的な側面を持っています。材料を組み合わせ、独自のレシピを開発し、美味しいパンを作り出すことは、創造性を発揮する機会です。パン屋さんとして、自分のアイデアやスキルを活かして独自のパンを生み出すことができます。人々に喜びを提供: パンは多くの人々にとって基本的な食品です。美味しいパンを提供することで、人々の日常に喜びと満足感を与えることができます。お客様が笑顔でパンを選んでくれる姿を見ることは、非常にやりがいのある瞬間です。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社を決めたきっかけは？</p>
      <h2 class="fw-bold">パパから会社をもらったよん🎵</h2>
      <p>尊重と感謝の気持ちを持つ：親から会社を引き継ぐことは、親の信頼と期待に応える重責です。親の経営の手腕や努力に感謝し、会社の歴史と価値を尊重することが大切です。強みを見極める：自分の強みや興味関心を理解し、会社の中でどのように貢献できるかを考えましょう。自分自身のビジョンや目標を明確にし、それを実現するために必要なスキルや知識を磨いていきましょう。チームとの協力：会社の成功には、チームとの協力が欠かせません。従業員や関係者とのコミュニケーションを大切にし、彼らの意見やアイデアに耳を傾けることが重要です。チームの一員として尊重し、信頼関係を築いていきましょう。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社後のキャリアを教えてください</p>
      <h2 class="fw-bold">ずっと社長だよん🎵</h2>
      <p>ビジョンを実現する力: 社長として、自分のビジョンや目標を実現する力があります。会社の成長や成功に向けて戦略を策定し、その実行をリードすることで、自分のアイデアやビジョンを具体化することができます。チームとの協力と指導: 社長は組織のリーダーとして、チームメンバーと協力し、彼らの能力を引き出す役割を果たします。チームの成長や発展を支援し、人材の育成と指導を通じて、個人や組織の成果に貢献することができます。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">応募を考えている人にメッセージをどうぞ！</p>
      <h2 class="fw-bold">24時間365日休みなしで働ける社員募集中です！</h2>
      <p>「私たちの企業では、新たな仲間を募集しています！私たちはチームワークを大切にし、共に成長し、目標を達成することに情熱を持って取り組んでいます。私たちの文化は柔軟性と創造性に満ちており、常に新しいアイデアやイノベーションを追求しています。当社の働きやすい環境では、従業員一人ひとりの能力と個性を尊重し、自己成長をサポートします。あなたのアイデアやスキルを活かして、チームと共に新たな成功を築きましょう。</p>
      <p class="text-center">
        <img src="/assets/takenaka/img_2.jpg" alt="ダチョウTシャツ" class="img-fluid">
      </p>
    </div>
    <div class="mt-5 pt-5">
      <h4 class="text-center fw-bold mb-5">その他のメンバーについて知りたい方はこちら</h4>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takeda"><img src="/assets/takeda/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹田 颯</h5>
            <p>マネージャー</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yata"><img src="/assets/yata/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">矢田 桂都</h5>
            <p>人事</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/shigeyama"><img src="/assets/shigeyama/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
            <p>経理</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yamamoto"><img src="/assets/yamamoto/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">山本 恭輪</h5>
            <p>システム開発</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
