<div id="member_page" class="container my-5 py-5">
  <div class="member_content col-lg-10 mx-auto row bg-light">
    <div class="col-lg-6">
      <h1 class="fw-bold">竹田 颯</h1>
      <h4 class="fw-bold">マネージャー</h4>
      <p class="mt-3">皆さん、こんにちは！私は「ダチョウシステムズ」のプロジェクトマネージャー、竹田 颯です。私はプロジェクトマネジメントの世界で経験を積んだ専門家です。チームの指揮を執り、プロジェクトの成功に向けて全力で取り組んでいます。私のモットーは「計画し、実行し、成果を創り出す」です。プロジェクトの目標を明確にし、戦略的な計画を策定します。また、デッドラインや予算を厳密に管理し、スムーズなプロジェクト遂行を確保します。</p>
      <p>
        <label class="fw-bold">入社</label>　　2023年 4月<br>
        <label class="fw-bold">前職</label>　　ダチョウ飼育係<br>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/assets/takeda/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid">
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">これまでのキャリアを教えてください</p>
      <h2 class="fw-bold">ダチョウの飼育員→プロジェクトマネージャーへキャリアチェンジ</h2>
      <p>ダチョウの生活空間を適切に管理し、清潔かつ安全な環境を提供していました。飼育員は、飼育施設や敷地の清掃、消毒、メンテナンスを定期的に行い、餌の管理やダチョウに栄養バランスの取れた食事を提供するため、飼育員は餌の準備や給餌を行っていました。私はダチョウの食欲や食事摂取量を監視し、必要に応じて食事プランを調整していました。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社を決めたきっかけは？</p>
      <h2 class="fw-bold">ダチョウのことを愛しているダチョウシステムズに一目惚れしました！</h2>
      <p>ダチョウの目は大きくて鮮やかで、長いまつ毛がまるでまつげエクステのように美しいです。まばゆいまでのまつ毛が愛らしさを引き立てます。ダチョウは長い足で優雅に歩きます。その姿勢や歩き方は、まるでファッションモデルのようにスタイリッシュで魅力的です。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社後のキャリアを教えてください</p>
      <h2 class="fw-bold">システム開発→プロジェクトマネージャ</h2>
      <p>プロジェクトチームの一員として働き始めました。私は異なるプロジェクトに参加し、スケジュール管理、予算管理、リソース配分などのプロジェクト管理の基礎を身につけました。私は経験を積み、プロジェクトマネージャーとして昇進しました。彼女は複数の大規模なプロジェクトをリードし、チームを指揮し、成功に導きました。ステークホルダーとの関係構築やコミュニケーション管理に優れており、プロジェクトの成果を最大化しました。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">応募を考えている人にメッセージをどうぞ！</p>
      <h2 class="fw-bold">ダチョウが好きな人大歓迎です！</h2>
      <p>ダチョウの目は大きくて鮮やかで、長いまつ毛がまるでまつげエクステのように美しいです。まばゆいまでのまつ毛が愛らしさを引き立てます。ダチョウは長い足で優雅に歩きます。その姿勢や歩き方は、まるでファッションモデルのようにスタイリッシュで魅力的です。</p>
      <p class="text-center">
        <img src="/assets/takeda/img_2.jpg" alt="ダチョウTシャツ" class="img-fluid">
      </p>
    </div>
    <div class="mt-5 pt-5">
      <h4 class="text-center fw-bold mb-5">その他のメンバーについて知りたい方はこちら</h4>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takenaka"><img src="/assets/takenaka/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹中 翔貴</h5>
            <p>社長</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yata"><img src="/assets/yata/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid"></a>
            <h5 class="mb-0 mt-4 fw-bold">矢田 桂都</h5>
            <p>人事</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/shigeyama"><img src="/assets/shigeyama/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid"></a>
            <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
            <p>経理</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yamamoto"><img src="/assets/yamamoto/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid"></a>
            <h5 class="mb-0 mt-4 fw-bold">山本 恭輪</h5>
            <p>システム開発</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
