<div id="catch_copy1" class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="display-3 text-white fw-bold">ダチョウシステムズ</h1>
        <p class="text-white my-3 fs-4">
          時代は変わってもダチョウシステムズのスタイルは変えません。
        </p>
      </div>
    </div>
  </div>
</div>
<section id="services">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h5 class="text-primary mb-2">service</h5>
        <h1 class="fw-bold">サービス一覧</h1>
        <p>
          私たちダチョウシステムズが制作した製品を紹介します。
        </p>
      </div>
    </div>
    <div class="flex1 mx-auto">
        <a href="/my_closet/service">
          <div class="service card-effect">
            <h5 class="mt-4 mb-3 fw-bold">「MY CLOSET」</h5>
            <div class="text-center py-5">
              <img src="/assets/service/img_1.png" alt="ダチョウTシャツ" class="img-fluid bg-dark" style="object-fit: cover; border-radius: 50%; width: 60%; height: auto;">
            </div>
            <p class="mt-3">
            あなたのファッション価値を最大限に引き出すファションアプリ「MY CLOSET」
            </p>
          </div>
        </a>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h5 class="text-primary mb-2">company</h5>
        <h1 class="fw-bold">ダチョウシステムズについて</h1>
        <p style="color: gray;">
          私たちダチョウシステムズについて紹介します。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="flex2 py-5 mt-3">
        <iframe width="100%" height="480px" src="https://www.youtube.com/embed/b4yi348C7EE" title="ダチョウシステムズの社員をご紹介します。" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="company-about flex2">
        <div class="feature d-flex mt-5 mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-building"></i>
          </div>
          <div>
            <h5 class="fw-bold">会社概要</h5>
            <p>
              企業名: ダチョウシステムズ（DS CorporatioN）<br>
              設立年: 2023年<br>
              本社所在地: 神戸市、日本<br>
              事業内容: ソフトウェア開発、ダチョウ派遣事業
            </p>
          </div>
        </div>
        <div class="feature d-flex mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-lightbulb"></i>
          </div>
          <div>
            <h5 class="fw-bold">経営理念</h5>
            <p>
              社内のメンバーと協力し、チームワークを大切にしてプロジェクトの成功を追求します。コミュニケーションと情報共有を心がけ、オープンで透明性のあるコミュニケーションを促進し、情報を適切に共有することで、チーム全体が同じ情報を持ち、円滑な連携を図ります。
            </p>
          </div>
        </div>
        <div class="feature d-flex mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-person"></i>
          </div>
          <div>
            <h5 class="fw-bold">代表挨拶</h5>
            <p>
              皆様、ごきげんよう。私たち「ダチョウシステムズ」の代表として、この素晴らしい機会に皆様の前で挨拶をさせていただきます。まずは、心からの感謝の意を述べたいと思います。ダチョウシステムズは、革新的なテクノロジーと優れた人材が集まり、お客様に最高品質のソリューションを提供することを使命としています。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="teams">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h5 class="text-primary mb-2">employee</h5>
        <h1 class="fw-bold">メンバー紹介</h1>
        <p>
          私たちダチョウシステムズのメンバーについて紹介します。
        </p>
      </div>
    </div>
    <div class="row g-4">
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/takenaka.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">竹中 翔貴</h5>
          <p class="mt-2">CEO</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/takeda.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">竹田 颯</h5>
          <p class="mt-2">PM/PL</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/yata.png" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">矢田 桂都</h5>
          <p class="mt-2">開発メンバー</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/sigeyama.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
          <p class="mt-2">開発メンバー</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/yamamoto.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">山本 恭輔</h5>
          <p class="mt-2">開発メンバー</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/yui.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">由井 朝雪</h5>
          <p class="mt-2">デザイナー</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/ogawa.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">小川 真未</h5>
          <p class="mt-2">デザイナー</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/kameyama.png" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">亀山 美咲</h5>
          <p class="mt-2">技術広報</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/suhara.png" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">数原 梢吾</h5>
          <p class="mt-2">技術広報</p>
        </div>
      </div>
      <div class="flex3">
        <div class="team-member card-effect text-center">
          <img src="/assets/member/yamashita.jpg" alt="ダチョウTシャツ" class="img-fluid mt-3">
          <h5 class="mb-0 mt-4 fw-bold">山下 大貴</h5>
          <p class="mt-2">技術広報</p>
        </div>
      </div>
    </div>
  </div>
</section>
