<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="col-lg-9 col-md-8 mx-auto">
    <h1 class="text-light fw-bold">ダチョウシステムズ</h1>
    <h5 class="text-light fw-bold mt-2">〜ダチョウでもできるものづくりを〜</h5>
  </div>
  <div class="video-area">
    <video class="video" poster="/assets/bg/img_1.png" webkit-playsinline playsinline muted autoplay loop>
      <source src="/assets/bg/mov_1.mp4" type="video/mp4">
    </video>
  </div>
</div>
<section id="services">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">service</h6>
        <h1 class="fw-bold">サービス一覧</h1>
        <p>
          私たちダチョウシステムズが制作したサービスを紹介します。
        </p>
      </div>
    </div>
    <div class="row col-lg-8 mx-auto">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect">
          <h5 class="mt-4 mb-3 fw-bold">「My Closet」</h5>
          <a href=""><img src="/assets/service/img_1.png" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, dolorum. Aut ab delectus veniam voluptatibus?
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="service card-effect">
          <h5 class="mt-4 mb-3 fw-bold">「ダチョウTシャツ」</h5>
          <a href=""><img src="/assets/service/img_2.png" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, dolorum. Aut ab delectus veniam voluptatibus?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="row mb-4">
      <div class="text-center">
        <h6 class="text-primary mb-2">company</h6>
        <h1 class="fw-bold">ダチョウシステムズについて</h1>
        <p style="color: gray;">
          私たちダチョウシステムズについて紹介します。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-6 col-12 col-img py-5"></div>
      <div class="company-about col-lg-6 col-md-12 col-sm-6 col-12">
        <div class="feature d-flex mt-5 mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-building"></i>
          </div>
          <div>
            <h5 class="fw-bold">会社概要</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit dolore accusantium quis rem eaque deleniti nemo, sed doloribus fuga temporibus enim exercitationem quidem aspernatur eius incidunt iure officiis quibusdam ipsam?
            </p>
          </div>
        </div>
        <div class="feature d-flex mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-lightbulb"></i>
          </div>
          <div>
            <h5 class="fw-bold">経営理念</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa, sapiente unde suscipit quo quas dicta odit obcaecati, sunt eos minima perspiciatis facilis nihil inventore, odio praesentium eligendi perferendis sed.
            </p>
          </div>
        </div>
        <div class="feature d-flex mb-3">
          <div class="iconbox me-3">
            <i class="bi bi-person"></i>
          </div>
          <div>
            <h5 class="fw-bold">代表挨拶</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet neque veniam magnam quaerat officia, placeat hic fuga blanditiis aliquam sequi dolor iure nobis, odit ut enim architecto totam eos beatae?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="teams">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary mb-2">employee</h6>
        <h1 class="fw-bold">社員紹介</h1>
        <p>
          私たちダチョウシステムズの社員について紹介します。
        </p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <div class="team-member card-effect text-center">
          <a href="/takenaka"><img src="/assets/takenaka/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <h5 class="mb-0 mt-4 fw-bold">竹中 翔貴</h5>
          <p>社長</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore ab iste minima sint voluptatem repellendus at dolores quas qui eius harum id nam, deleniti beatae adipisci. At, ipsam exercitationem.
          <div class="social-icons mt-4">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-member card-effect text-center">
          <a href="/takeda"><img src="/assets/takeda/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <h5 class="mb-0 mt-4 fw-bold">竹田 颯</h5>
          <p>マネージャー</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore ab iste minima sint voluptatem repellendus at dolores quas qui eius harum id nam, deleniti beatae adipisci. At, ipsam exercitationem.
          <div class="social-icons mt-4">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-member card-effect text-center">
          <a href="/yata"><img src="/assets/yata/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <h5 class="mb-0 mt-4 fw-bold">矢田 桂都</h5>
          <p>人事</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore ab iste minima sint voluptatem repellendus at dolores quas qui eius harum id nam, deleniti beatae adipisci. At, ipsam exercitationem.
          <div class="social-icons mt-4">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-member card-effect text-center">
          <a href="/shigeyama"><img src="/assets/shigeyama/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
          <p>経理</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore ab iste minima sint voluptatem repellendus at dolores quas qui eius harum id nam, deleniti beatae adipisci. At, ipsam exercitationem.
          <div class="social-icons mt-4">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="team-member card-effect text-center">
          <a href="/yamamoto"><img src="/assets/yamamoto/img_1" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
          <h5 class="mb-0 mt-4 fw-bold">山本 恭輪</h5>
          <p>システム開発</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore ab iste minima sint voluptatem repellendus at dolores quas qui eius harum id nam, deleniti beatae adipisci. At, ipsam exercitationem.
          <div class="social-icons mt-4">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
