<div id="member_page" class="container my-5 py-5">
  <div class="member_content col-lg-10 mx-auto row bg-light">
    <div class="col-lg-6">
      <h1 class="fw-bold">山本 恭輪</h1>
      <h4 class="fw-bold">システム開発</h4>
      <p class="mt-3">こんにちは、私はダチョウです。</p>
      <p class="mt-5">
        <label class="fw-bold">入社</label>　　2023年 4月<br>
        <label class="fw-bold">前世</label>　　ダチョウ<br>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/assets/yamamoto/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid">
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">これまでのキャリアを教えてください</p>
      <h2 class="fw-bold">あ、やっべ全部忘れた(*´ω｀*)</h2>
      <p>忘れました。ごめんなさい。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社を決めたきっかけは？</p>
      <h2 class="fw-bold">あ、やっべ全部忘れた(*´ω｀*)</h2>
      <p>忘れました。ごめんなさい。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社後のキャリアを教えてください</p>
      <h2 class="fw-bold">あ、やっべ全部忘れた(*´ω｀*)</h2>
      <p>忘れました。ごめんなさい。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">応募を考えている人にメッセージをどうぞ！</p>
      <h2 class="fw-bold">あ、やっべ全部忘れた(*´ω｀*)</h2>
      <p>忘れました。ごめんなさい。</p>
      <p class="text-center">
        <img src="/assets/yamamoto/img_2.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail">
      </p>
    </div>
    <div class="mt-5 pt-5">
      <h4 class="text-center fw-bold mb-5">その他のメンバーについて知りたい方はこちら</h4>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takenaka"><img src="/assets/takenaka/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹中 翔貴</h5>
            <p>社長</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takeda"><img src="/assets/takeda/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹田 颯</h5>
            <p>マネージャー</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yata"><img src="/assets/yata/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">矢田 桂都</h5>
            <p>人事</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/shigeyama"><img src="/assets/shigeyama/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
            <p>経理</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
