<div id="member_page" class="container my-5 py-5">
  <div class="member_content col-lg-10 mx-auto row bg-light">
    <div class="col-lg-6">
      <h1 class="fw-bold">矢田 桂都</h1>
      <h4 class="fw-bold">人事</h4>
      <p class="mt-3">皆さん、こんにちは！私は人事担当の矢田 桂都です。人材採用や従業員の成長と幸福を支援する役割を担当しています。私の人事経験は180年に及びます。これまでに様々な企業や業界で人事戦略の策定や採用プロセスの改善、従業員の育成や評価制度の導入などに携わってきました。私の使命は、優秀な人材を発掘し、彼らが自己成長し、最大限のパフォーマンスを発揮できる環境を提供することです。私は個々の従業員のニーズに耳を傾け、彼らの能力を最大限に引き出すためのサポートを行っています。</p>
      <p>
        <label class="fw-bold">入社</label>　　2023年 4月<br>
        <label class="fw-bold">前職</label>　　ジョニーズ事務所<br>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/assets/yata/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid">
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">これまでのキャリアを教えてください</p>
      <h2 class="fw-bold">ジョニーズ事務所→人事</h2>
      <p>ジャニーズ事務所は、主に男性アーティストやアイドルグループをプロデュースし、音楽活動やテレビ出演など、幅広いエンターテイメント活動を展開しています。その代表的なグループには、SMAP、嵐、KAT-TUN、Hey! Say! JUMP、King & Princeなどがあります。ジャニーズ事務所は、独自の育成システムやトレーニングプログラムを通じて、若手アーティストやアイドルの育成に力を注いでいます。彼らは歌唱力、ダンス、演技などのスキルを磨きながら、ファンに対してエンターテイメントを提供しています。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社を決めたきっかけは？</p>
      <h2 class="fw-bold">アットホームな環境に惹かれました！</h2>
      <p>アットホームな環境では、チームメンバー同士がお互いを尊重し、助け合い、フレンドリーな雰囲気で働くことができます。コミュニケーションが円滑であり、意見やアイデアを自由に発信しやすいため、クリエイティビティやイノベーションも促進されます。また、アットホームな環境では、上司やリーダーが近くにいてサポートしてくれることが多いです。質問や相談がしやすく、成長やスキルアップの機会も多いです。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">入社後のキャリアを教えてください</p>
      <h2 class="fw-bold">システム開発→人事へ</h2>
      <p>人材の発掘と採用: 優れた人材を見つけ出し、採用することは非常に重要です。適切な採用プロセスを通じて、組織にとって価値のある個人を見つけ出し、その成長や成功に貢献することができます。従業員の成長と発展の支援: 人事部門は従業員の育成や研修プログラムの設計、キャリア開発のサポートなど、従業員の成長と発展を支援します。従業員がスキルを向上させ、自己実現を達成する手助けをすることで、彼らの成功に寄与できます。</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold text-primary">応募を考えている人にメッセージをどうぞ！</p>
      <h2 class="fw-bold">休みが入らない人材募集中です！</h2>
      <p>ブラック企業とは、従業員の労働条件や労働環境が極度に過酷であり、適切な休息や労働時間の確保が不十分な企業のことを指します。ブラック企業では、長時間労働、過重労働、過労死のリスク、不当な労働条件、パワーハラスメントなどが頻繁に報告されます。これらの企業は従業員の健康や福祉を軽視し、結果的に生産性やモチベーションの低下を招くことがあります。ブラック企業は社会問題として取り上げられ、適切な労働環境の実現や労働者の権利保護が求められています。</p>
      <p class="text-center">
        <img src="/assets/yata/img_2.jpg" alt="ダチョウTシャツ" class="img-fluid">
      </p>
    </div>
    <div class="mt-5 pt-5">
      <h4 class="text-center fw-bold mb-5">その他のメンバーについて知りたい方はこちら</h4>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takenaka"><img src="/assets/takenaka/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹中 翔貴</h5>
            <p>社長</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/takeda"><img src="/assets/takeda/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">竹田 颯</h5>
            <p>マネージャー</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/shigeyama"><img src="/assets/shigeyama/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">重山 大輝</h5>
            <p>経理</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member card-effect text-center">
            <a href="/yamamoto"><img src="/assets/yamamoto/img_1.jpg" alt="ダチョウTシャツ" class="img-fluid img-thumbnail"></a>
            <h5 class="mb-0 mt-4 fw-bold">山本 恭輪</h5>
            <p>システム開発</p>
            <div class="social-icons mt-4">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bx bi-person"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
