@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap');
@import "./top_page";
@import "./teams_page";
@import "./service";
@import "./faq";
@import "./recruit";
:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
    --bg: #e0e0e0;
}

body {
    line-height: 1.7;
    color: #575757;
    background-color: #e0e0e0;
    font-family: Hiragino Kaku Gothic Pro;
}

#header {
    .company {
        font-size: 23px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.navbar {
    label {
        font-weight: bold;
        color: white;
    }
}

.footer-top {
    padding-bottom: 90px;
    padding: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: #fff;
}

// ! タブレットのレスポンシブ対応
@media(max-width:768px) {
    #header {
        .contact-btn {
            margin-top: 40px;
        }
    }
}

// ! スマホのレスポンシブ対応
@media(max-width:468px) {
    #header {
        .company {
            font-size: 20px;
        }
        .contact-btn {
            margin-top: 20px;
        }
    }
}