#catch_copy {
    background-image: url("/assets/service/img_3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

#catch_copy::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(37, 39, 71, 0.5);
    z-index: -1;
}

// ! introductionセクション
#introduction {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--bg);
    .card-effect {
        box-shadow: var(--box-shadow);
        background-color: #fff;
        padding: 10px 25px;
        transition: all 0.35s ease;
        img {
            height: 380px;
            object-fit: cover;
        }
        border-radius: 10px;
        // ! タブレットのレスポンシブ対応
        @media(max-width:768px) {
            img {
                height: 280px;
                object-fit: cover;
            }
        }
        // ! スマホのレスポンシブ対応
        @media(max-width:468px) {
            margin-top: 10px;
        }
    }
    .card-effect:hover {
        box-shadow: none;
        transform: translateY(5px);
    }
    .iconbox {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        color: white;
        font-size: 32px;
        border-radius: 100px;
        flex: none;
    }
    .service {
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .service::after {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        background-color: var(--primary);
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s ease;
    }
    .service:hover h5,
    .service:hover p {
        color: white;
    }
    .service:hover .iconbox {
        background-color: #fff;
        color: var(--primary);
    }
    .service:hover::after {
        opacity: 1;
        top: 0;
    }
}

// ! effectセクション
#effect {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
    .function {
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }
}

// ! reviewセクション
#review {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--bg);
    .comment {
        background-color: #ffffff;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 1px;
        box-shadow: var(--box-shadow);
    }
    .comment h4,
    .comment span,
    .darker h4,
    .darker span {
        display: inline;
    }
}

// ! usesセクション
#uses {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
}